footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 140px;
    width: 100%;
}

.footer-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}